<!DOCTYPE html>
<html lang="en-US">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"> -->
	<!-- <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'/> -->

	
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	<title> Mamytei {{w_state}}</title>
	
	<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
	<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
	
	<link rel="stylesheet" href="../static/css/style.css">
	
</head>
<body style= "background-color:rgb{{w_color}}"}>

	<div class="container ">
		 
		
		<h1 class="main_title">Mamytei {{w_state}}</h1>
		
		<table >
		    
		{% for week in weeks %}
			<tr>
				{% for day in week %}
					<td style="border: solid 3px rgba{{day[2]}};">
						
						{% if day[4]==1 %}
							<img src="{{ url_for('static', filename='img/1.jpg') }}">
						{% elif day[4]==2 %}
							<img src="{{ url_for('static', filename='img/2.jpg') }}">
						{% elif day[4]==3 %}
							<img src="{{ url_for('static', filename='img/3.jpg') }}">
						{% elif day[4]==4 %}
							<img src="{{ url_for('static', filename='img/4.jpg') }}">
						{% endif %}
						
					{{day[1]}}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</table>
		
		<!-- <img src="{{ url_for('static', filename='img/1.jpg') }}"> -->
		<!-- <img src="{{ url_for('static', filename='img/2.jpg') }}"> -->
		<!-- <img src="{{ url_for('static', filename='img/3.jpg') }}"> -->
		<!-- <img src="{{ url_for('static', filename='img/4.jpg') }}"> -->
		
		
		
		
		
		
	</div>
		
	

		


</body>
</html>